{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <img id = "image" src = "https://preview.redd.it/288ws07140p21.jpg?width=640&crop=smart&auto=webp&s=5dc0311e787f892919801fdf8839691b7ac4243c" alt = "change password page">
    <hr>
    <H3 align = "left">{{ user_username }}</H3>
    <hr>
    <form align = "justified" action = "/change_password" method = "post">
        <p>Old Password:
        <input type = "password" name = "current_password" autocomplete = "off" autofocus>
        <br><br>New Password:
        <input type = "password" name = "new_password" autocomplete = "off">
        <br><br>Confirm Password:
        <input type = "password" name = "confirmation" autocomplete = "off">
        <hr>
        <input type = "submit" value = "Change Password">
        </p>
</form>

{% endblock %}