{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <img id = "image" src = "https://i.pinimg.com/originals/b3/96/11/b39611817ba3ed6dcd7b56d62b277a61.jpg" alt = "Homepage">
    <hr>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
